.DataDiseases {
  width: 100%;
  height: 100%;
  align-content: center;
}

button {
  padding: 10px;
  margin: 10px;
}

.tittleOfTable {
  color: rgb(79, 75, 67);
  font-size: 25px;
  padding: 10px;
}
.tableDisease {
  width: 100%;
  align-items: center;
  border: solid 1px white;
  border-collapse: collapse;
}

.headerTable {
  border: solid 1px white;
  color: white;
  font-size: 15px;
  padding: 15px;
}

.disease {
  width: 22%;
  background-color: rgb(98, 140, 214);
}

.casesHeader1 {
  background-color: rgb(99, 188, 94);
}

.deathsHeader1 {
  background-color: rgb(219, 78, 78);
}

.casesHeader2 {
  background-color: rgb(99, 188, 94);
  width: 7.8%;
}

.deathsHeader2 {
  background-color: rgb(219, 78, 78);
  width: 7.8%;
}

.contentTable {
  color: rgb(53, 24, 24);
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 12px;
}

.casesContent {
  color: rgb(0, 163, 54);
}

.diseaseName {
  background-color: rgb(226, 237, 255);
  text-align: right;
}

.deathsContent {
  color: rgb(209, 0, 0);
}

.tittleOfTable {
  text-align: center;
  font-weight: bold;
}

.downIcon {
  color: rgb(0, 163, 54);
}

.nothingIcon {
  color: rgb(115, 115, 115);
}

.upIcon {
  color: rgb(209, 0, 0);
}
